@model IEnumerable<Vargas_TallerLigaProEcuador.Models.Equipo>

@{
	ViewData["Title"] = "ListaEquipos";
}

<h1>ListaEquipos</h1>

<p>
	<a class="btn btn-info" asp-action="Create">Crear Nuevo Equipo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreEquipo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosJugados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosGanados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosEmpatados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosPerdidos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Puntos)
			</th>
			<th></th>
		</tr>
	</thead>
	<!--Se realizo Cambios en el foreach con la ayuda de ChatGPT-->
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@if (!string.IsNullOrEmpty(item.ImagenUrl))
					{
						<img src="@item.ImagenUrl" alt="Logo @item.NombreEquipo" style="width: 40px; height: auto; margin-right: 10px;" />
					}
					@item.NombreEquipo
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosJugados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosGanados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosEmpatados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosPerdidos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Puntos)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
				</td>
			</tr>
		}
	</tbody>

</table>
